#wrapper {
    position: absolute;
    width: 500px;
    height: 500px;
    border: 3px solid black;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

li {
    background-color: lightgray;
    color: black;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 18px;
}

h1 {
    text-align: center;
}

#timer {
    float: right;
}

#questionsId {
    margin: 30px;
}